.app{
    overflow: hidden;
}
.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);

}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    margin-top: 4px;/* mặc định ul có margin top 10px nên sửa lại 4px */
    list-style: none;/* bỏ dấu chấm trước các chữ */
    padding-left: 0;/* mặc định brower có pading-left: 40px nên đưa về none */
    display: flex;
}

.header__navbar-item{
    position: relative;
    margin:0 8px;/* đẩy các thẻ li ra 2 bên trái phải 8px */
}

/* khi đã đăng nhập ///////////////////////////*/
.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1)
}

.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.2rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;/* cho lên trước xe hàng */
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    width: 140px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    display: none;
}

.header__navbar-user-menu::before{
    content: "";
    border-width: 14px 20px;/* thành hình chữ nhật */
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;/* dùng position ở đây để có top right của mũi tên */
    right: 1px;
    top: -22px;/* trên có border-width là 20px nên cả top + bottom là 40px */
}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 80%;
    height: 8px;
}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 9px 16px;
    display: block;/* mặc định thẻ a không có display block nên padding ko được 17p video 64*/
}

.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
/* //////////////////////////////////////////// */

/* css cho sự ẩn đi của mã qr khi ko hover vào chữ vào cửa hàng */
.header__navbar-item--has-qr:hover .header__qr{
    display: block;/* display khác none sẽ hiện lại */

}

.header__navbar-item, 
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.2rem; /* 1rem=10px */
    color: var(--white-color);
    text-decoration: none;/*bỏ gạch chân trong thẻ <a> mặc định có gạch chân: underline*/
    font-weight: 200;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon-link{
    display: flex;
    align-items: center;
}


/* làm mờ đi khi hover vào */
.header__navbar-item:hover, 
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

/* chữ đăng ký đăng nhập đậm hơn khi thêm class này */
.header__navbar-item--strong{
    font-weight: 400;
}

/* thêm dấu gạch sau "Vào cửa hàng" và "Đăng ký" */
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;
}

.header__navbar-icon{
    font-size: 1.4rem;
    margin: 0 4px;
}

/* chữ "Kết nối" ko đc cursor và ko bị mờ đi */
.header__navbar-title--no-pointed{
    cursor: text;
    color: var(--white-color);
}

/* HEADER QR */
.header__qr{
    background-color: var(--white-color);
    width: 160px;
    position: absolute;/* li có class header__navbar-item đã có position: relative */
    left: 0;/* sát mép trái li: vào cửa hàng */
    top: 140%;/* sát mép dưới li: vào cửa hàng */
    padding: 8px;
    border-radius: 2px;
    display: none;/* chỉ khi hover mới hiển thì còn ko thì để nonenone */
    /* dùng animation để img qr ko hiện lên bất ngờ */
    animation: fadeIn ease-in-out 0.5s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* pseudo element tạo cầu nối giữa chữ và img qr */
.header__qr::before{
    content: "";
    position: absolute;
    left: 0;/* dính sát vào bên tráitrái */
    top: -10px;
    width: 100%;/* bằng đúng chiều rộng của qr*/
    height: 20px;
    display: block;
}

.header__qr-img{
    width: 100%;/* nằm trong box */
}

.header__qr-apps{
    display: flex;/* cho 2 app thẳng hàng */
    justify-content: space-between;/* chắc chắn 2 app ở sát mép */
}

/* căn hai app thẳng với mép của ảnh qr */
.header__qr-link:first-child{
    margin-left: 11px;
}

.header__qr-link:last-child{
    margin-right: 11px;
}
/* //////////////////////////////////////////////// */

.header__qr-download-img{
    height: 14px;
}

/* Header notification */
/* ctrl D / phím -> / alt + -> */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 140%;
    width: 340px;
    right: 0;/* nếu ko có sẽ bị sát mép trình duyệt nên có thì sẽ sát mép của thẻ cha */
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    transform-origin: calc(100% - 32px) top;
    /* hàm calc đểể sau có thay đổi chiều rộng nó vẫn đúng vị trí đó,
    "top" để hiển thị ra từ góc */
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;/* tối ưu hóa thực hiện animation cho trình duyệt */
    display: none;
}

/* làm mũi tên bằng border-color và màu transparent */
.header__notify::before{
    content: "";
    border-width: 19px 28px;/* thành hình chữ nhật */
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;/* dùng position ở đây để có top right của mũi tên */
    right: -1px;
    top: -26px;/* trên có border-width là 20px nên cả top + bottom là 40px */

}

/* vì chỉ đc sd 1 before nên để có cầu dùng after */
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -12px;/* đưa cầu từ dưới lênlên */
    width: 76px;
    height: 16px;
    /* background-color: red; *//* test */
}

/* khi hover vào chữ "Thông báo" thì hiển thị Cục thông báo */
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}

@keyframes headerNotifyGrowth{/* animation cho header-notify */
    from{
        opacity: 0;/* mờ dầndần */
        transform: scale(0);/* tốc độđộ */
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 30px;
    background-color: var(--white-color);
    cursor: default;/* nếu dùng none sẽ mất con chuột */
}

/* ko cần đặt class cho h3 thì dùng cha + dấu cách */
.header__notify-header h3{
    color: #333;
    margin: 0;
    font-weight: 350;
    font-size: 1rem;
    line-height: 30px;/* line-height = height th chứa nó thì sẽ căn giữa */
    margin-left: 12px;
    user-select: none;/* không cho người dùng tác động vào, vd muốn bôi đen để cop cx ko đc */
}

.header__notify-list{
    padding-left: 0;
}
.header__notify-item{
    /* display: flex; */
    padding-top: 3px;
    height: 50px;
    /* ko được display: flex ở đây vì còn vướng 1 thẻ a */
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

/* chưa xem thì còn màu hồng, đã xem thì mất màu */
.header__notify-item--viewed{
    /* rgba 0.1 là giảm độ đậm nhạt của màu */
    background-color: rgba(238, 77, 45, 0.09); 
}

.header__notify-link{
    display: flex;
    text-decoration: none;
    width: 100%;/* có chiều rộng bằng cả th cha */
    height: 40px;
    padding-top: 5px;
    
}
.header__notify-img{
    /* để display flex thì ảnh méo */
    /* khi có display flex thì trục dọc là trục cross axis có chiều cao item = chiều cao th chứa nó  */
    width: 46px;
    object-fit: contain;/* fix ảnh ko bị méo */
    padding: 0 5px 5px 5px;
}

.header__notify-name{
    display: flex;
    font-size: 1rem;
    color: var(--black-color);
    line-height: 1.2rem;/* chiều cao dòng nếu xuống dòng bị dính */
    font-weight: 400;
}
.header__notify-description{
    display: flex;
    font-size: 0.9rem;
    color: #756f6e;
    margin-top: 2px;
}

/* Notification FooterFooter */
.header__notify-footer{
    display: flex;/* khi dùng thuộc tính này th cha sẽ tự động tăng chiều cao để phù hợp khi th con thay đổi */
}

.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 16px;/* trái phải 16px để tăng vùng bấm cho nút */
    margin: auto;/* thuộc tính căn giữa khi th cha có display flex */
    font-size: 1rem;
    font-weight: 500;
}

/* Authen modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;/* khi th con đè lên th cha làm mất radius thì dùng overflow */
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;/* cho dky dnhap thang hang nhung dang bap benh */
    align-items: center;/* thẳng hàng */
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    height:40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 1px;
    outline: none;/* bỏ outline xanh khi active */
}

/* con trỏ chuột nháy khi active trong 1 input */
.auth-form__input:focus{
    border-color: #888;/* bấm vào đổi thành màu 888 */
}


/* điều khoản */
.auth-form__aside{
    margin-top:12px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    text-align: center;/* căn giữa dòng chữ */
    padding: 0 12px;
}

/* css hai thẻ a */
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

/* 2 btn */
.auth-form__coltrols{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;/* ban đầu ở góc trái */
}

.auth-form__coltrols-back{
    margin-right: 8px;
}

/* css fb vs google */
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 14px 32px;
    display: flex;
    justify-content: space-between;
    margin-top:22px;
}

/* css cho 2 icon fb va gg */
.auth-form__socials-icon {
    font-size: 1.6rem;
    position: relative;
    bottom: 2.5px;
}

.auth-form__socials--fb{
    color: var(--white-color);
    background-color: #3A5A98;
}

.auth-form__socials--fb
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 48px;
}

/* form đăng nhập */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    font-size: 1.1rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 16px;
    margin: 0 16px ;
    border-left: 1px solid #eaeaea;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}


/* Header-with-search */
.header-with-search{
    height: var(--haeder-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 6px;
    z-index: 3;
}
.nav__mobile-search-list{
    display: flex;

}
.nav__bars-btn{
    display: none;
}
.nav__bars-icon{
    font-size: 2.6rem;
    color: #fff;
    margin-left: 1px;
}

.nav__mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 230px;
    max-height: 100%;/* Tránh trường hợp có màn hình nhỏ hơn 320px */
    background-color: #fff;
    z-index: 2;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
    overflow: hidden;
}
.nav__overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    display: none;
    animation: fadeIn linear 0.3s;
}
.nav__mobile-heading{
    width: 100%;
    height: 24px;
    
}
.nav__mobile-close-icon{
    position: absolute;
    font-size: 3.2rem;
    color: #666;
    top: 1rem;
    right: 1rem;
}
.nav__mobile-list{
    flex: 1;
    list-style: none;
    padding-left: 0;
}
.nav__mobile-item{
    position: relative;
    padding-top: 5px;
}
.nav__mobile-item:first-child:after{
    display: none;
}
.nav__mobile-item::after{
    content: "";
    border-top: 1px solid #888;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    outline: none;
}
.nav__mobile-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #777;
    display: block;
    padding: none;
    margin: 20px 0 20px 22px;
}


.header__mobile-search{
    padding: 0 5px 0 10px;
    display: none;
}

.header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo{
    width: 200px;
}

.header__logo-link{
    color: transparent;
    text-decoration: none;
    display: block;
    line-height: 0;
}

.header__logo-img{
    width: 140px;
}

.header__search{
    flex:1 ;/* không cần đặt chiều ngang vì logo shopee và giỏ hàng sẽ cố dịnh thì thanh search sẽ là chiều ngang còn lại, */
    height: 40px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
}

/* Cart layout */ 
.header__cart{
    width: 150px;
    display: flex;
    justify-content: center;
}

.header-cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-icons{
    color: var(--white-color);
    font-size: 2.2rem;
}

.header__cart-notice{
    position: absolute;
    top: -7px;
    right: 1px;
    padding: 1px 6px;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    background-color: white;
    color: var(--primary-color);
}

.header-cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 12px);
    right: -1px; /* cách phải 50px */
    background-color: var(--white-color);
    width: 400px;
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 / 20%);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 1px;
    top: -30px; 
    border-width: 20px 23px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.3rem;
    margin-top: 18px;
    color: var(--text-color);
}

.header__cart-list--no-cart{
    padding: 28px;
}

/* có class header__cart-list--no-cart thì cho 2 class sau hiện lên */
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header__cart-no-cart-img{/* đây là ảnh */
    width: 50%;
    display: none;
}

.header__search-input-wrap{
    flex: 1;/* chiều dai còn lại */
    height: 100%;
    position: relative;
}

.header__search-input{
    width: 100%;/* ăn theo th wrap ở trên */
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select{
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
}

.header__search-select-label{
    font-size: 1.2rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.2rem;
    color: #4a4a4a;
    margin: 0 16px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 2px;
    margin-right: 2.5px;
    outline: none;
}

.header__search-btn:hover{
    cursor: pointer;
    background-color: #ec7a63;
}

.header__search-btn-icon{
    font-size:1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% + 5px);/* 8p40 video 60 */
    width: 125px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

/* Has product */
.header__cart-heading{
    margin: 16px 0 8px 10px;
    font-size: 1.2rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;/* mặc định ul có pdl 40px */
    list-style: none;
    max-height: 56vh;/* 11p video78 view port height khi màn hình thu nhỏ hay phóng to thì sẽ ăn theo độ rộng */
    overflow-y: auto;
}

.header__cart-item{
    display: flex;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 44px;
    height: 41px;
    margin: 10px;
    border: 1px solid #e8e8e8;/* giảm cảm giác nhìn khi ảnh có viền trắng */
}

.header__cart-item-info{
    width: 100%; /* 15p58 video 63 */
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.3rem;
    line-height: 1.8rem;
    max-height: 3.6rem;
    overflow: hidden;/* th con tràn ra khỏi th cha thì sẽ bị ẩn đi */
    font-weight: 450;
    color: var(--text-color);
    margin: 12px 0 0 0 ;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-item-price{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1rem;
    color: #757575;
}
.header__cart-item-body{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.header__cart-item-description{
    color: #757575;
    font-size: 1rem;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-view-cart{
    float: right;
    margin: 0 11px 11px 0;
}
.header__cart-view-cart:hover{
    background-color: #f05d40;
}
/* ////////////////////////////////////////////////////// */
.header__search-option::after{
    content:"";
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;
}

.header__search-option-item{
    /* margin-top: 6.5px; */
    background-color: var(--white-color);
    padding: 8px;/* tách xa 2 span ra */
}

.header__search-option-item:hover{
    cursor: pointer;
    background-color: #fafafa;
}

.header__search-option-item span{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;/* mặc định là none khi active mới hiện lên */
}

.header__search-option-item--active i {/* có class này thì icon tick mới hiện lên */
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history  {/* dấu ~, khi click vào mới hiện */
    display: block;
}

/* Search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);/* đẩy khung lịch sử xuồng 4px */
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #999;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;/* bỏ chấm mặc định của li */
    margin-bottom: 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 38px;/* line height bằng th chứa nó thì sẽ căn giữa */
    color: var(--text-color);
    display: block;
}
/* Header sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    left: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    display: flex;
    list-style: none;
    margin: 0;/* bỏ mặc định margin top và bootom */
    padding-left: 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    display: none;
}
.header__sort-item {
    flex: 1;
}
.header__sort-link {
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    position: relative;
}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;/* 50% th chứa nó */
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);/* 50% chính nó, âm thì đi lên */
}
.header__sort-item--active .header__sort-link{
    color: var(--primary-color);
}
.header__sort-item:first-child .header__sort-link::before{
    display: none;
}

/* App__Container */
.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 36px;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 450;
    padding: 12px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon{
    font-size: 1rem;
    margin-right: 4px;
    position: relative;
    top: -1px;  
}

.category-list{
    padding:0 0 8px 0;
    list-style: none;
}

.category-item{
    position: relative;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    border-width: 4px;
    border-style: solid;
    transform: translateY(calc(-50% - 1px));/* sau mà tăng padding lên thì mũi tên vẫn ở giữa */
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link{
    position: relative;
    right: 0;
    font-size: 1.3rem;
    color: var(--text-color); 
    text-decoration: none;
    padding: 6px 20px;
    display: block;
    transition: right linear 0.1s;/* transition là khi có chuyển động thì chuyển động như thế nào  */
}

.category-item__link:hover{
    right: -5px;
    color: var(--primary-color);
}

/* Mobile categgory */
.mobile-category{
    display: none;
}
.mobile-category__list{
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;/* 5p video30 : sinh ra thanh scroll */
}

.mobile-category__list::-webkit-scrollbar{
    display: none;
}

.mobile-category__item{
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{/* màu 1 ; "+1" để quay lại vị trí đầu */
    background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{/* màu 2 */
    background-color: #76c9bd;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{/* màu 3 */
    background-color: #88cf81;
}
.mobile-category__link{
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    text-align: center;
    display: block;
    display: -webkit-box;/* tạo dấu 3 chấm khi chữ quá dài */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 110px;
    border-radius: 5px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 6px;
}

/* Home Sort + Filter */
.home-filter{
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label{
    font-size: 1.1srem;
    color: #555555;
    margin-right: 16px;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.home-filter__page-num{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-right: 14px;
}
.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-controls{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;/* 2 nút thì chia đôi mỗi nút 36px */
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}
.home-filter__page-btn--disabled {
    cursor: default;
    background-color: #f9f9f9;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #EEE;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}

/* Product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;/* thẻ div mặc định có display block nhưng thẻ a không có nên sẽ bị méo s*/
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img{
    padding-top: 100%;/* 9p50 video 72 */
    background-size: contain;/* nếu ảnh to hay nhỏ quá thì thuộc tính này sẽ làm nó vừa */
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;/* 19p video72 */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;/* gạch chữ */
}
.home-product-item__price-current{
    font-size: 1.4rem;
    color:  var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like{
    font-size: 1rem;
}

i.home-product-item__like-icon-fill{
    color: #f63d30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{/* khi like hiện tim fill lên */
    display: inline-block; /* khi thêm home-product-item__like--likedthì tim đỏ  */
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.7);/* xử lý nhỏ hơn nữa */
    transform-origin: right;/* sát về bên phải */
    color: #ccc;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 3px 10px;
    color: #595959;
    font-weight: 300;
}
.home-product-item__brand{
    margin-bottom: 6px;
}
.home-product-item__origin-name{
    margin-bottom: 6px;
}
.home-product-item__favourite{
    position: absolute;
    top: 12px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;/* 17p video 75 */
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-top: 3px solid currentColor;/* ăn theo màu th cha */
    border-left: 3px solid transparent;
    filter: brightness(60%);/* căn chỉnh độ sáng của màu */
}
.home-product-item__favourite span{
    color: var(--white-color);
}

.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.8rem;
    margin: 0 2px 0 5px;
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255,212,36,0.9);
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: red rgba(255,212,36,0.9) transparent rgba(255,212,36,0.9);
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2rem;
    display: block;
    margin-top: 4px;
}
.home-product-item__sale-off-label{
    font-size: 1.1rem;
    font-weight: 550;
    line-height: 1.3rem;
    color: var(--white-color);
    display: block;
    margin-top: 3px;
}

.home-product__pagination{
    margin-top: 48px 0 60px 0;
    padding-left: 0;
}

/* footer */
.footer{
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1.1rem;
    color: var(--text-color);
    text-transform: uppercase;
}

.footer__list{
    padding-left: 0;
    list-style: none;
    
}

.footer-item__link{
    display: flex;
    align-items: center;
    padding: 4px 0;
    text-decoration: none;
    font-size: 1rem;
    color: #737373;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size: 1.4rem;
    margin: -2px 8px 0 0;
}

.footer__download{
    display: flex;
}

.footer__dowload-qr{
    width: 80px;/* ảnh đang bọ ăn theo trục cross axis nên bị dọc lên */
    object-fit: contain;/* cx giống box sizing nhưng là áp dụng với ảnh */
    border: 1px solid var(--border-color);
}

.footer__download-apps{
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img{
    height: 20px;
}

.footer__download-app-link{
    color: transparent;
    text-decoration: none;
}

.footer__bottom{
    margin-top: 36px;
    padding: 8px 0;
    background-color: #f5f5f5;
}

.footer__text{
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}


